/* HOME PAGE */
button.diffrent-position {
    
    left: 50%;
    transform: translateX(-50%);
}

.invisible {
    display: none;
}

table {
    text-align: center;
}

td.title-of-article {
    max-width: 490px;
    max-height: 41px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;    
}

/* ARTICLE PREVIEW PAGE */
body#article {
    margin: 40px;

}
#preview-title {
    font-size: 50px;
    margin-bottom: 30px;
}

